<html>

<head>
<title>RBasic</title>
</head>

<body>

<p>You can use <b>R</b> as a simple Calculator</p>

<!--begin.rcode
end.rcode-->


<!--begin.rcode
end.rcode-->

<!--begin.rcode
44+77
102.5-88.8
16*47
1/5
end.rcode-->


<p>When R is running, variables, data, functions and anything else is stored in the memory of the pc, you can see what is stored in the Global Environment</p>




<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
